<div class="container">
    <h2>Change password</h2>
    <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="oldPassword">Old password</label>
            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="oldPasswordText" #oldPassword="ngModel" required />
            <div *ngIf="f.submitted && !oldPassword.valid" class="help-block">this field is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !oldPassword.valid }">
            <label for="newPassword">New password</label>
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPasswordText" #newPassword="ngModel" 
                   required minlength="8" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])[A-Za-z\d]{0,}" />
            <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
                <div *ngIf="newPassword.errors.required">
                    Password is required
                </div>
                <div *ngIf="newPassword.errors.minlength">
                    Password must be at least 8 characters long
                </div>
                <div *ngIf="newPassword.errors.pattern">
                    Password must contain at least one number and one uppercase and lowercase letter
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="pass">Confirm Password</label>
            <input type="password" class="form-control" id="pass" [(ngModel)]="newPasswordConfirmText" name="pass" #pass="ngModel"
                   required />
            <div *ngIf="(pass.dirty || pass.touched) && newPasswordText!=newPasswordConfirmText" class="alert alert-danger">
                <div *ngIf="newPasswordConfirmText==''">
                    Confirm password is required
                </div>
                <div *ngIf="newPasswordText!=newPasswordConfirmText">
                    Password mismatch
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default">Change</button>
        </div>
    </form>
</div>